@model RecipesBook.Models.Entities.Recipe
<div id="recipe-@Model.Id" class="card col-3 p-3">


    <img class="card-img-top" height="150" width="150" src="data:image/png;base64, @Convert.ToBase64String(Model.MainImage,Base64FormattingOptions.None)">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a href="/recipes/@Model.Id" class="btn btn-primary">View recipe</a>
    </div>
</div>
